.card__header-image {
    background-image: url('src/assets/img/pokeball.png');
    background-size: cover;
}

.card {
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid transparent 
}

.card:hover {
    border: 2px solid #ef5350;
    box-shadow: 0 0 6px #ef5350;
}